---
import cv from "@/js/objects/cv.js";
---

<section id="summary" class="flex flex-col justify-between gap-2 rounded-2xl">
  <h1 class="text-xl font-bold">About me</h1>
  {cv.basics.summary.split("\n").map((line) => <p>{line}</p>)}
</section>
