---
import Header from '@components/Header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Jorge Sarricolea | Fullstack Developer</title>
	</head>
	<body class="bg-black lg:w-4/6 w-10/12 m-auto mt-36">
		<Header />
		<main></main>
	</body>
</html>

<style>
	.no-scroll {
  overflow: hidden;
}
</style>