---
import Header from "@/components/Header.astro";
import Home from "@/components/Home.astro";
import Experience from "@/components/Experience.astro";
import Portfolio from "@/components/Portfolio.astro";
// import About from "@/components/About.astro";
// import Contact from "@/components/Contact.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <!-- Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jorgesarricolea.com/" />
    <meta
      property="og:title"
      content="<JorgeSarricolea /> Full-Stack Developer"
    />
    <meta
      property="og:description"
      content="Full-Stack developer with more than 2 years of experience. I am a Personal Finance and Technology enthusiast, always keeping up with the latest trends."
    />
    <meta property="og:image" content="/img/meta-img.png" />
    <!-- Typed.js files -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.1.0/typed.umd.js"
    ></script>
    <script src="@/js/Typed.js"></script>
    <!-- CDN Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- Relative Img -->
    <script src="@/js/ApplyImages.js"></script>
    <script src="@/js/objects/icons.js"></script>
    <title>Jorge Sarricolea</title>
  </head>
  <body class="bg-black lg:w-4/6 m-auto mt-36">
    <Header />
    <section id="home">
      <Home />
    </section>
    <section id="experience">
      <Experience />
    </section>
    <section id="portfolio">
      <Portfolio />
    </section>
    <!-- <section id="about">
      <About />
    </section> -->
    <!-- <section id="contact">
      <Contact />
    </section> -->

    <div class="my-8">
      <a
        href="https://github.com/JorgeSarricolea"
        target="_blank"
        class="text-white hover:text-primary flex gap-2 items-center justify-center"
      >
        <i class="fa-brands fa-github"></i>
        Check out my GitHub!</a
      >
    </div>
  </body>
</html>

<style>
  .no-scroll {
    overflow: hidden;
  }
</style>
