---
import Header from '@components/Header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<!-- Typed.js files -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.js"></script>
		<script src="@js/Typed.js"></script>
		<title id="pageTitle">&ltJorgeSarricolea /&gt</title>
	</head>
	<body class="bg-black lg:w-4/6 w-10/12 m-auto mt-36">
		<Header />
		<main class="text-white">
			</section>
			<section id="home"></section>
			<section id="experience"></section>
			<section id="portfolio"></section>
			<section id="about"></section>
			<section id="contact"></section>
		</main>
	</body>
</html>
<style>
	.no-scroll {
  overflow: hidden;
}
</style>