---
import workshopContent from "@/js/objects/workshopContent.js";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- CDN Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>Git & GitHub to Full-Stack</title>
  </head>
  <body class="bg-black">
    <section class="flex flex-col m-auto mt-16 md:w-4/12 w-11/12 gap-12 mb-12">
      <div class="pb-6 border-b-2 border-secondary">
        <h1 class="text-primary text-4xl font-bold">
          Git and GitHub for Full-Stack development Workshop
        </h1>
        <p class="text-secondary text-sm mt-2">By Jorge Sarricolea</p>
      </div>
      {
        Object.keys(workshopContent).map((sessionKey) => (
          <div>
            <h1 class="text-primary font-bold text-3xl mb-2">
              {workshopContent[sessionKey].title}
            </h1>
            {Object.keys(workshopContent[sessionKey]).map(
              (topicKey) =>
                topicKey !== "title" && (
                  <div class="text-white flex items-center justify-between">
                    <div class="flex items-center">
                      <i
                        class={`${workshopContent[sessionKey][topicKey].isCheck ? "text-green-500" : "text-white"} ${workshopContent[sessionKey][topicKey].isCheck ? workshopContent[sessionKey][topicKey].check : workshopContent[sessionKey][topicKey].notCheck} text-xl mr-4`}
                      />
                      <p>{workshopContent[sessionKey][topicKey].title}</p>
                    </div>
                    {workshopContent[sessionKey][topicKey].url && (
                      <a
                        href={workshopContent[sessionKey][topicKey].url}
                        class="text-secondary hover:text-primary ml-4 text-xl"
                        target="_blank"
                      >
                        <i class="fa-solid fa-up-right-from-square" />
                      </a>
                    )}
                  </div>
                )
            )}
          </div>
        ))
      }
    </section>
  </body>
</html>
