---
import Hero from "@/components/sections/Hero.astro";
import Summary from "@/components/sections/Summary.astro";
import Experience from "@/components/sections/Experience.astro";
import Education from "@/components/sections/Education.astro";
import Skills from "@/components/sections/Skills.astro";
import Projects from "@/components/sections/Projects.astro";
---

<section class="w-full md:max-w-full">
  <h1
    class="text-primary md:text-5xl text-3xl font-bold text-center md:my-28 my-8 uppercase"
  >
    About
  </h1>
  <section id="about-mobile" class="md:hidden text-white mx-8">
    <img
      id="cv-picture-mobile"
      src=""
      alt=""
      class="h-96 w-full object-cover rounded-2xl md:hidden bg-primary shadow-2xl backdrop-blur bg-opacity-75"
    />
    <Summary />
  </section>
  <section
    id="cv-container"
    class="w-4/6 m-auto bg-white p-8 text-black hidden md:block"
  >
    <Hero />
    <Summary />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </section>
</section>
<button
  id="print-button"
  class="bg-primary text-gray w-fit justify-center py-2 px-6 rounded-2xl uppercase mt-8 flex m-auto hover:bg-secondary hover:text-white transition-colors duration-500"
  >Download CV</button
>

<style>
  @media print {
    #home,
    #experience,
    #portfolio,
    #contact,
    #about-mobile {
      display: none;
    }
    #cv-container,
    #cv-projects,
    #cv-projects *,
    #cv-container * {
      visibility: visible;
      display: block;
    }
    #cv-container,
    #cv-projects {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    @page {
      size: A4 portrait;
      margin: 1cm;
    }
  }
</style>

<script>
  // Function to handle "Print" button click event
  document
    .getElementById("print-button")
    .addEventListener("click", function () {
      // Array de IDs de elementos a ocultar y mostrar
      const elementsToToggle = [
        "home",
        "experience",
        "portfolio",
        "contact",
        "about-mobile",
        "print-button",
        "header",
        "header-mobile",
      ];

      // Hide elements that will not be printed
      elementsToToggle.forEach(function (id) {
        const element = document.getElementById(id);
        if (element) {
          element.style.display = "none";
        }
      });

      // Ocultar el botón de impresión durante la espera
      this.style.display = "none";

      // Agregar un retraso antes de imprimir
      setTimeout(function () {
        // Llama a la función de impresión
        window.print();

        // Escuchar el evento afterprint para recargar la página después de imprimir
        window.addEventListener("afterprint", function () {
          // Esperar un corto período de tiempo antes de recargar la página
          setTimeout(function () {
            location.reload();
          }, 1000); // Espera 1 segundo antes de recargar la página después de imprimir
        });
      }, 200); // Espera 200 milisegundos antes de imprimir
    });
</script>
