---
import Hero from "@/components/sections/Hero.astro";
import Summary from "@/components/sections/Summary.astro";
import Experience from "@/components/sections/Experience.astro";
import Education from "@/components/sections/Education.astro";
import Skills from "@/components/sections/Skills.astro";
---

<section class="w-full md:max-w-full">
  <h1
    class="text-primary md:text-5xl text-3xl font-bold text-center md:my-28 my-8 uppercase"
  >
    About
  </h1>
  <section id="about-mobile" class="md:hidden text-white mx-8">
    <img
      id="cv-picture-mobile"
      src=""
      alt=""
      class="h-96 w-full object-cover rounded-2xl md:hidden bg-primary shadow-2xl backdrop-blur bg-opacity-75"
    />
    <Summary />
  </section>
  <section
    id="cv-container"
    class="w-4/6 m-auto bg-white p-8 text-black hidden md:block text-[12px]"
  >
    <Hero />
    <img src="public/img/Black.png" class="h-[1px] w-full my-6" alt="" />
    <Summary />
    <img src="public/img/Black.png" class="h-[1px] w-full my-6" alt="" />
    <Experience />
    <Education />
    <img src="public/img/Black.png" class="h-[1px] w-full my-4" alt="" />
    <!-- <Projects /> -->
    <div id="skills-container">
      <Skills />
    </div>
  </section>
</section>
<button
  id="print-button"
  class="w-fit bg-primary text-gray justify-center py-2 px-6 rounded-2xl uppercase mt-8 flex m-auto hover:bg-secondary hover:text-white transition-colors duration-500"
  >Download CV</button
>

<style>
  @media print {
    #home,
    #experience,
    #portfolio,
    #contact,
    #about-mobile {
      display: none;
    }
    #cv-container,
    #cv-projects,
    #cv-projects *,
    #cv-container * {
      visibility: visible;
      display: block;
    }
    #cv-container,
    #cv-projects {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    @page {
      size: A4 portrait;
      margin: 1cm;
    }
  }
</style>

<script>
  // Function to handle "Download CV" button click event
  document
    .getElementById("print-button")
    .addEventListener("click", function () {
      // Check if the screen size is mobile
      if (window.innerWidth <= 768) {
        // For mobile, simply download the PDF file
        const link = document.createElement("a");
        link.href = "/cv_jorge_sarricolea.pdf";
        link.download = "cv_jorge_sarricolea.pdf";
        link.click();
      } else {
        // For desktop, call the print function
        // Array de IDs de elementos a ocultar y mostrar
        const elementsToToggle = [
          "home",
          "experience",
          "portfolio",
          "contact",
          "about-mobile",
          "print-button",
          "header",
          "header-mobile",
        ];

        // Hide elements that will not be printed
        elementsToToggle.forEach(function (id) {
          const element = document.getElementById(id);
          if (element) {
            element.style.display = "none";
          }
        });

        // This class is so that when generating the print preview the skills section is correctly displayed
        const skillsContainer = document.getElementById("skills-container");
        if (skillsContainer) {
          skillsContainer.classList.add("mt-0");
        }

        // Call the print function
        window.print();

        // Determine the header to display based on the screen size
        const headerId = window.innerWidth <= 768 ? "header-mobile" : "header";

        // Add the corresponding header to the list of items to hide
        elementsToToggle.push(headerId);

        // Restores proper header visibility after printing
        const headerToDisplay = document.getElementById(headerId);
        if (headerToDisplay) {
          headerToDisplay.style.display = "flex";
          skillsContainer.classList.remove("mt-0");
        }
      }
    });

  // Function to handle after printing
  window.addEventListener("afterprint", function () {
    // Reload the page after printing
    location.reload();
  });
</script>
