---
import Hero from "@/components/sections/Hero.astro";
import Summary from "@/components/sections/Summary.astro";
import Experience from "@/components/sections/Experience.astro";
import Education from "@/components/sections/Education.astro";
import Skills from "@/components/sections/Skills.astro";
---

<div class="w-full md:max-w-full">
  <h1
    class="text-primary md:text-5xl text-3xl font-bold text-center md:my-28 my-8 uppercase"
  >
    About
  </h1>
  <section id="cv-container" class="w-4/6 m-auto bg-white p-8 text-black">
    <Hero />
    <Summary />
    <Experience />
    <Education />
    <Skills />
  </section>
</div>
<button
  id="print-button"
  class="bg-primary text-gray justify-center px-6 py-2 rounded-2xl uppercase mt-8 flex m-auto hover:bg-secondary hover:text-white transition-colors duration-500"
  >Download CV</button
>

<style>
  @media print {
    #home,
    #experience,
    #portfolio {
      display: none;
    }
    #cv-container,
    #cv-projects,
    #cv-projects *,
    #cv-container * {
      visibility: visible;
      display: block;
    }
    #cv-container,
    #cv-projects {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    @page {
      size: A4 portrait;
      margin: 0.5cm;
    }
  }
</style>

<script>
  // Function to handle "Print" button click event
  document
    .getElementById("print-button")
    .addEventListener("click", function () {
      // Array de IDs de elementos a ocultar y mostrar
      const elementsToToggle = [
        "home",
        "experience",
        "portfolio",
        "print-button",
      ];

      // Oculta los elementos que no serán impresos
      elementsToToggle.forEach(function (id) {
        document.getElementById(id).style.display = "none";
      });

      // Llama a la función de impresión
      window.print();

      // Restaura la visibilidad después de imprimir
      elementsToToggle.forEach(function (id) {
        document.getElementById(id).style.display = "block";
      });
    });
</script>
