<div class="navbar-container">
  <nav>
    <ul class="menu">
      <li><a href="index" class="menu-link">Home</a></li>
      <li><a href="experience" class="menu-link">Resume</a></li>
      <li><a href="portfolio" class="menu-link">Portfolio</a></li>
      <li><a href="aboutme" class="menu-link">About</a></li>
      <li><a href="contact" class="menu-link">Contact</a></li>
    </ul>
  </nav>
  </div>