<header
  id="header-mobile"
  class="lg:hidden bg-black backdrop-blur bg-opacity-75 text-primary flex justify-between items-center py-4 px-8"
>
  <a href=""
    ><h1 class="text-3xl">
      &lt;<span class="text-white">JorgeSarricolea</span> /&gt
    </h1></a
  >

  <!-- Hamburger btn -->
  <button id="menu-btn" class="block h-16 w-16 focus:outline-none">
    <span class="text-primary text-5xl" id="menu-icon">☰</span>
  </button>
</header>
