<main
  class="text-white md:bg-gray rounded-3xl md:flex md:flex-col md:shadow-primary"
>
  <div class="md:flex md:px-20 md:pt-20 gap-20">
    <div
      class="flex flex-col justify-between md:w-9/12 md:mb-20 mb-8 mx-8 md:mx-0 gap-4"
    >
      <h1 id="mainTitle" class="md:text-6xl text-5xl min-w-5/6 h-36">
        I'm <span id="multiText" class="text-primary font-bold"></span>
      </h1>
      <p class="text-xl">
        Innovative Software Engineer | Expert in JavaScript & API Development |
        React, Node.js, Java Spring Boot & AWS Specialist | 3+ Years of
        Experience in Scalable Web Applications | Team Mentorship.
      </p>
      <a
        href="/cv_jorge_sarricolea.pdf"
        target="_blank"
        download="cv_jorge_sarricolea.pdf"
        class="font-bold text-sm uppercase mt-2 hover:text-primary w-fit"
        >download cv</a
      >
    </div>
    <div class="flex md:px-0 px-8 mb-0">
      <img
        id="hero"
        src=""
        alt=""
        class="w-fit h-fit md:rounded-none rounded-2xl md:bg-transparent bg-primary backdrop-blur bg-opacity-75"
      />
    </div>
  </div>
</main>

<style>
  img {
    mask-image: linear-gradient(black 50%, transparent);
  }
</style>
